<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css project 1</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <img src="/assets/images/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li> <a href="/assets/templates/index.html">Home</a></li>
                    <li> <a href="/assets/templates/about.html"  class="active">About</a></li>
                    <li> <a href="/assets/templates/deals.html">Deals</a></li>
                    <li> <a href="/assets/templates/reservation.html">Reservations</a></li>
                </ul>
            </div>
        </header>
        <!-- main -->
        <div class="about-main1">
            <section class="blur"></section>
            <section class="abt-content">
              <h2>  EXPLORE OUR COUNTRY</h2>
            <h1>Welcome To Caribbean</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida Discover More
            </p>
            <a href="">Discover  more </a>
            </section>

        </div>
        <div class="abt-main2">
            <div class="abt-cards1">
                <div class="heading">
                    <h2>Caribbean's <span>Cities & Towns</span></h2>
                </div>
                <div class="cardimages">
                    <div class="image">
                        <img src="../images/cities-havana.jpg" alt="">
                        <h4>Havana</h4>
                    </div>
                    <div class="image">
                         <img src="../images/cities-kingston.jpg" alt="">
                         <h4>Kingston</h4>
                    </div>
                    <div class="image">
                         <img src="../images/cities-santo.jpg" alt="">
                         <h4>Santo Domingo</h4>
                    </div>
                    <div class="image">
                         <img src="../images/cities-george.jpg" alt="">
                         <h4>George Town</h4>
                    </div>
                </div>
            </div>
            <div class="abt-mid">
                <h2>Best Weekly Offers In Each City</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="abt-cards2">
                <aside>
                    <article> <!-- 1 for img -->
                        <img src="../images/offers-havana.jpg" alt="">
                    </article> 
                    <article> <!-- 1 for description card -->
                        <div class="part1">
                            <div class="sub1">
                               <h4>Havana</h4>
                                <p>$420</p>
                            </div>
                            <div class="sub2">
                                <p><i class="fa-solid fa-person"></i>234 Check Ins</p>
                                <p>/person</p>
                            </div>
                        </div>
                        <div class="part2">
                            <p>Deal includes : </p>
                            <p><i class="fa-solid fa-car"></i>5 Days > Hotel Included</p>
                            <p><i class="fa-solid fa-plane"></i>Airplane Bill Included</p>
                            <p><i class="fa-solid fa-building"></i>Daily Places Visit</p>
                        </div>
                        <div class="part3">
                            <a href="">Make a reservation</a>
                        </div>
                    </article> 
                </aside>
                <aside>
                    <article>
                        <img src="../images/offers-george.jpg" alt="">
                    </article>
                    <article> 
                        <div class="part1">
                            <div class="sub1">
                               <h4>George Town</h4>
                                <p>$420</p>
                            </div>
                            <div class="sub2">
                                <p><i class="fa-solid fa-person"></i>234 Check Ins</p>
                                <p>/person</p>
                            </div>
                        </div>
                        <div class="part2">
                            <p>Deal includes : </p>
                            <p><i class="fa-solid fa-car"></i>5 Days > Hotel Included</p>
                            <p><i class="fa-solid fa-plane"></i>Airplane Bill Included</p>
                            <p><i class="fa-solid fa-building"></i>Daily Places Visit</p>
                        </div>
                        <div class="part3">
                            <a href="">Make a reservation</a>
                        </div>
                    </article> 
                </aside>
                <aside>
                    <article>
                        <img src="../images/offers-kingston.jpg" alt="">
                    </article>
                    <article> 
                        <div class="part1">
                            <div class="sub1">
                               <h4>Kingston</h4>
                                <p>$420</p>
                            </div>
                            <div class="sub2">
                                <p><i class="fa-solid fa-person"></i>234 Check Ins</p>
                                <p>/person</p>
                            </div>
                        </div>
                        <div class="part2">
                            <p>Deal includes : </p>
                            <p><i class="fa-solid fa-car"></i>5 Days > Hotel Included</p>
                            <p><i class="fa-solid fa-plane"></i>Airplane Bill Included</p>
                            <p><i class="fa-solid fa-building"></i>Daily Places Visit</p>
                        </div>
                        <div class="part3">
                            <a href="">Make a reservation</a>
                        </div>
                    </article> 
                </aside>
            </div>
            <div class="abt-main3"></div>
        </div>
        <!-- footer -->
        <footer>
            <div class="foot1">
                <section>
                     <h2>ARE YOU LOOKING TO TRAVEL ?</h2>
                    <h3>Make A Reservation By Clicking The Button</h3>
                </section>
                <section>
                     <button>
                        BOOK YOURS NOW
                    </button>
                </section>
            </div>
            <div class="foot2">
                 <p>Copyright ©  <a href="#">WoOx Travel</a> Company. All rights reserved. 
                 <br>Design: <a href="" target="_blank" title="free CSS templates">TemplateMo</a></p>
            </div>
        </footer>
    </div>
    <!-- end of container -->
</body>

</html>