<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css project 1</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <img src="/assets/images/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li> <a href="/assets/templates/index.html">Home</a></li>
                    <li> <a href="/assets/templates/about.html" >About</a></li>
                    <li> <a href="/assets/templates/deals.html"  class="active">Deals</a></li>
                    <li> <a href="/assets/templates/reservation.html">Reservations</a></li>
                </ul>
            </div>
        </header>
        <!-- main -->
         <div class="deals-main">
            <div class="banner">
                <div class="banner-content">
                    <h4 style="font-size: 20px;">Discover Our Weekly Offers</h4>
                    <h2 style="font-size: 60px; font-weight: bolder;" > Amazing Prices & More</h2>
                    <a href="">Discover More</a>
                </div>
            </div>  <!-- end of banner div-->
            <div class="deals2">
                <div class="sort-deals">
                    <div> Sort Deals By :</div>
                    <div>
                        <ul>
                            <li>Destinations <i class="fa-solid fa-angle-down"></i>
                                <ol>
                                    <li>Destinations</li>
                                    <li>Italy</li>
                                    <li>Thailand</li>
                                    <li>Switzerland</li>
                                    <li>Maldives</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>Price Range <i class="fa-solid fa-angle-down"></i>
                                <ol>
                                    <li>Price Range</li>
                                    <li>$100-$250</li>
                                    <li>$250-$500</li>
                                    <li>$500-$1000</li>
                                    <li>$1000+</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button>Search Results</button>
                    </div>
                </div>
            </div> <!-- end of deal 2-->
            <div class="deals3">
                <h3>Best Weekly Offers In Each City</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div><!-- end of deal 3-->
            <div class="deals4">
                <div>
                    <div class="part1">
                        <img src="../images/deals-01.jpg" alt="">
                    </div>
                    <div class="part2">
                        <aside>
                            <p>*Limited Offer Today</p>
                            <h4>Glasgow City Lorem</h4>
                        </aside>
                        <aside>
                            <p><i class="fa-solid fa-clock"></i>    5 Days</p>
                            <p><i class="fa-regular fa-map"></i> Daily Places</p>
                        </aside>
                        <aside>
                            <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                            <a href="">Make A Reservation</a>
                        </aside>
                    </div>
                </div>
                <div>
                    <div class="part1">
                        <img src="../images/deals-02.jpg" alt="">
                    </div>
                    <div class="part2">
                        <aside>
                            <p>*Today & Tomorrow Only</p>
                            <h4>Venezia Italy Ipsum</h4>
                        </aside>
                        <aside>
                            <p><i class="fa-solid fa-clock"></i>    5 Days</p>
                            <p><i class="fa-regular fa-map"></i> Daily Places</p>
                        </aside>
                        <aside>
                            <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                            <a href="">Make A Reservation</a>
                        </aside>
                    </div>
                </div>
                <div>
                    <div class="part1">
                        <img src="../images/deals-03.jpg" alt="">
                    </div>
                    <div class="part2">
                          <aside>
                            <p>**Undefined</p>
                            <h4>Glasgow City Lorem</h4>
                        </aside>
                        <aside>
                            <p><i class="fa-solid fa-clock"></i>    5 Days</p>
                            <p><i class="fa-regular fa-map"></i> Daily Places</p>
                        </aside>
                        <aside>
                            <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                            <a href="">Make A Reservation</a>
                        </aside>
                    </div>
                </div>
                <div>
                    <div class="part1">
                        <img src="../images/deals-04.jpg" alt="">
                    </div>
                    <div class="part2">
                         <aside>
                            <p>*Offer Until 24th March</p>
                            <h4>Glasgow City Lorem</h4>
                        </aside>
                        <aside>
                            <p><i class="fa-solid fa-clock"></i>    5 Days</p>
                            <p><i class="fa-regular fa-map"></i> Daily Places</p>
                        </aside>
                        <aside>
                            <p>Lorem ipsum dolor sit amet dire consectetur adipiscing elit.</p>
                            <a href="">Make A Reservation</a>
                        </aside>
                    </div>
                </div>
            </div><!-- end of deal 4-->
            <div class="deals5">
                <a href=""><i class="fa-solid fa-arrow-left"></i></a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            
         </div>  <!-- end of main -->
         <!-- footer -->
        <footer>
            <div class="foot1">
                <section>
                     <h2>ARE YOU LOOKING TO TRAVEL ?</h2>
                    <h3>Make A Reservation By Clicking The Button</h3>
                </section>
                <section>
                     <button>
                        Book Yours Now
                    </button>
                </section>
            </div>
            <div class="foot2">
                 <p>Copyright ©  <a href="#">WoOx Travel</a> Company. All rights reserved. 
                 <br>Design: <a href="" target="_blank" title="free CSS templates">TemplateMo</a></p>
            </div>
        </footer>
    </div>
    <!-- end of container -->
</body>

</html>